<%= title l(:LabelInactiveProjects) %>

<%= form_tag({}, :method => :get) do %>
	<fieldset>
		<legend><%= l(:label_filter_plural) %></legend>
		<label for='inactiveFor'><%= l(:LabelInactiveFor) %>:</label>
		<%= select_tag(:inactiveFor, options_for_select([
				[l(:LabelNoFilter), -1],
				['1 '+l(:LabelDay), 1], 
				['2 '+l(:LabelDays), 2], 
				['3 '+l(:LabelDays), 3], 
				['5 '+l(:LabelDays), 5], 
				['14 '+l(:LabelDays), 14], 
				['1 '+l(:LabelMonth), 30], 
				['3 '+l(:LabelMonths), 90], 
				['6 '+l(:LabelMonths), 180], 
				['9 '+l(:LabelMonths), 270], 
				['1 '+l(:LabelYear), 360], 
				['15 '+l(:LabelMonths), 450], 
				['18 '+l(:LabelMonths), 540], 
				['21 '+l(:LabelMonths), 630], 
				['2 '+l(:LabelYears), 720]], 
				selected: @inactiveFor )) %>
		<%= submit_tag l(:button_apply), :class => "small", :name => nil %>
	</fieldset>
<% end %>
&nbsp;

<div class="autoscroll">
	<table class="list">
	  <thead>
		<tr>
		  <th><%=l(:label_project)%></th>
		  <th><%=l(:field_created_on)%></th>
		  <th><%=l(:field_status)%></th>
		  <th></th>
		</tr>
	  </thead>
	  <tbody>
		<% project_tree(@inactiveprojects) do |project, level| %>
		  <tr class="<%= cycle("odd", "even") %> <%= project.css_classes %> <%= level > 0 ? "idnt idnt-#{level}" : nil %>">
			  <td class="name"><span><%= link_to_project_settings(project, {}, :title => project.short_description) %></span></td>
			  <td><%= format_date(project.created_on) %></td>
			  <td>
				<% if project.status == 1 %>
					<%= l(:project_status_active) %>
				<% elsif project.status == 5 %>
					<%= l(:project_status_closed)%>
				<% elsif project.status == 9 %>
					<%= l(:project_status_archived)%>
				<% else %>
					<%= format_date(project.created_on)%>
				<% end %>
			  </td>
			  <td class="buttons">
				<%= link_to(l(:button_archive), { :controller => 'inactiveprojects', :action => 'archiveProject', :projectId => project.id}, :data => {:confirm => l(:text_are_you_sure)}, :method => :post, :class => 'icon icon-lock') unless project.archived? %>
				<%= link_to(l(:button_unarchive), { :controller => 'inactiveprojects', :action => 'unarchiveProject' , :projectId => project.id}, :data => {:confirm => l(:text_are_you_sure)}, :method => :post, :class => 'icon icon-unlock') if project.archived? && (project.parent.nil? || !project.parent.archived?) %>
			  </td>
		  </tr>
		<% end %>
	  </tbody>
	</table>
</div>