<div class="contextual">
<%= link_to l(:label_project_new), {:controller => 'projects', :action => 'new'}, :class => 'icon icon-add' %>
</div>

<%= title l(:LabelInactiveProjects) %>
<h2> Hier die View fuer die inaktiven Projekte </h2>

<%= form_tag({}, :method => :get) do %>
<fieldset><legend><%= l(:label_filter_plural) %></legend>
<label for='inactivFor'><%= l(:LabelInactivFor) %> :</label>
<%= submit_tag l(:button_apply), :class => "small", :name => nil %>
<%= link_to l(:button_clear), {:controller => 'admin', :action => 'projects'}, :class => 'icon icon-reload' %>
</fieldset>
<% end %>
&nbsp;

<div class="autoscroll">
<table class="list">
  <thead><tr>
  <th><%=l(:label_project)%></th>
  <th><%=l(:field_is_public)%></th>
  <th><%=l(:field_created_on)%></th>
  <th></th>
  </tr></thead>
  <tbody>

  </tbody>
</table>
</div>